/*
- bgcolor : #fff
- bglight : #F5F9F4
- textDark : #0E0C34
- textlight : #82818A
- gray : #DEDEDE
- primary : #A2DE96
*/

/* *** general styles ***  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  direction: rtl;
}
body {
  font-family: "Almarai", sans-serif;
  color: #0e0c34;
  font-size: 100%;
  line-height: 1.5em;
}
button {
  font-family: inherit;
}
a {
  color: #82818a;
  text-decoration: none;
}
a:hover {
  color: #a2de96;
}

ul {
  list-style: none;
  padding: 0;
}

/* *** utilites ***  */
.btn {
  background-color: #a2de96;
  color: #0e0c34;
  padding: 0.75rem 2rem;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover {
  background-color: #8bbd81;
  color: #fff;
}
.btn-small {
  background-color: #dedede;
  font-size: 0.75rem;
  padding: 0.5rem 2rem;
}
.btn-small.active {
  background-color: #a2de96;
  color: #fff;
}

.container {
  /* background-color: aquamarine; */
  width: 960px;
  margin: 0 auto;
}
.row {
  /* background-color: rgba(137, 43, 226, 0.164); */
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.col-1-2,
.col-1-3,
.col-1-4 {
  /* float: right; */
  /* border: 1px solid #0e0c34; */
}
.clear {
  clear: both;
}
.col-1-2 {
  /* width: 50%; */
  flex-grow: 1;
  flex-basis: calc(100% / 2);
}
.col-1-3 {
  /* width: 33.3%; */
  flex-grow: 1;
  flex-basis: calc(100% / 3);
}
.col-1-4 {
  flex-grow: 1;
  flex-basis: calc(100% / 4);
}
section {
  padding: 4.5rem 0;
}
/* *** header *** */
header {
  padding: 1rem;
}
.logo {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}
.logo img {
  height: 2rem;
  margin-bottom: -0.5rem;
  margin-left: 0.25rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
header .navbar {
  display: inline-block;
  /* float: left; */
}
header .navbar li {
  display: inline-block;
  margin-right: 1.5rem;
  padding: 0.5rem 0;
}

header .navbar li .active {
  color: #a2de96;
}

/* **** head ***  */
.head-img {
  width: 80%;
  margin-right: 20%;
}
.head-info {
  padding-top: 5rem;
}
.head-info h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.head-info .sub-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a2de96;
}
.head-info .sub-text {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
}

/* *** advantages *** */
#advantages {
  background-color: #f5f9f4;
}
#advantages h2 {
  text-align: center;
  margin-bottom: 4.5rem;
}
#advantages .col-1-3 {
  text-align: center;
  padding: 0 1rem;
}
#advantages .col-1-3 img {
  height: 4rem;
}
#advantages .col-1-3 h3 {
  margin: 1rem 0;
}
#advantages .col-1-3 p {
  color: #82818a;
}
/* *** menu ***  */
#menu h2 {
  margin-bottom: 1rem;
}
.menu-filters {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.menu-filters .filters {
  display: inline-block;
  margin-top: 0.75rem;
}
.menu-filters a {
  /* float: left; */
}

.menu-products .product {
  margin: 0.5rem;
  border: 2px dashed #a2de96;
  border-radius: 40px;
  overflow: hidden;
  height: 15rem;
  position: relative;
}

.menu-products .product img {
  width: 100%;
  position: absolute;
}

.product-info {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-radius: 30px;
  padding: 1rem 1.5rem;
}
.product-info h3 {
  font-size: 1rem;
}
.product-info span {
  color: #a2de96;
  margin-top: 0.5rem;
  display: inline-block;
}
.product-btn {
  background-color: #a2de96;
  border: none;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5rem;
  color: #fff;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  cursor: pointer;
}
.product-btn:hover {
  background-color: #8bbd81;
}

/* *** cta *** */

#cta .book {
  background-color: antiquewhite;
  border-radius: 40px;
  background-image: url("../images/reservation.png");
  background-size: cover;
  background-position: center center;
}
#cta .book-box {
  background-color: rgba(162, 222, 150, 0.9);
  width: 50%;
  border-radius: 40px;
  text-align: center;
  padding: 3rem 1rem;
}
#cta .book-box h2 {
  color: #fff;
  margin-bottom: 1.5rem;
}
#cta .book-box .form-group {
  display: inline-block;
  margin: 0 0.75rem;
  font-size: 0.75rem;
}
#cta .book-box .form-group label {
  display: block;
  text-align: right;
}
#cta .book-box .form-group input,
#cta .book-box .form-group select {
  border: 1.5px dashed #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
}
#cta .book-box .form-group select {
  padding: 2px;
}
#cta .book-box .form-group option {
  color: #0e0c34;
}
#cta .book-box form button {
  background-color: #f5f5f5;
  display: inline-block;
  margin-top: 1.5rem;
}
#cta .book-box form button:hover {
  background-color: #8bbd81;
}
/* *** reviews *** */
#reviews {
  background-color: #f5f5f5;
}
#reviews h2 {
  text-align: center;
  margin-bottom: 4.5rem;
}
#reviews .review {
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
}
#reviews .review .info {
  margin-bottom: 1rem;
}
#reviews .review .info img {
  width: 3rem;
  border-radius: 50px;
  display: inline-block;
}
#reviews .review .info .user-data {
  display: inline-block;
  margin-right: 1rem;
}
#reviews .review p {
  color: #82818a;
}
#reviews .review .stars {
  text-align: left;
  margin-top: 1rem;
}
#reviews .review .stars img {
  width: 1.5rem;
}
#reviews .three-dots {
  text-align: center;
  margin-top: 1.5rem;
}
#reviews .three-dots span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  background-color: #dedede;
  cursor: pointer;
  margin: 0 0.25rem;
}
#reviews .three-dots span.active {
  background-color: #a2de96;
}
/* *** contact ***  */
#contact .contact-box {
  background-color: #f5f5f5;
  width: 60%;
  margin: 0 auto;
  border-radius: 30px;
  border: 2px dashed #a2de96;
  padding: 2rem;
  position: relative;
}
#contact .contact-info {
  display: inline-block;
  width: 68%;
}
#contact .contact-cta {
  display: inline-block;
  width: 30%;
  position: absolute;
  top: 40%;
  left: 0;
}
#contact .contact-info p {
  margin-top: 1rem;
  color: #82818a;
}
/* *** footer *** */
footer .social-links {
  margin-top: 1.5rem;
}
footer .social-links a {
  margin-left: 0.75rem;
}
footer .social-links img {
  height: 1.25rem;
}
footer h3 {
  margin-bottom: 1rem;
}
footer .footer-copy {
  background-color: #f5f5f5;
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: #82818a;
}
